page-home {

    .center {
        text-align: center;  
    }
    
    .scroll-content{
       overflow-y:hidden;
    }


    /*Menu*/
    .menu-inner{
        width:204px;
    }
    .menuContent{
       margin-top:60px;
    }
    .menulist{
        text-align:center;
    }


}